body {
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 0 0 8px;
    padding-top: 8px;

}

.bar {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
    
}